
  body {
    text-align: center;
    font-family: Arial;
    margin-top: 100px;
    background-color: #ffe6f0;
  }

  h1 {
    color: #d63384;
  }

  button {
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  #si {
    background-color: #28a745;
    color: white;
  }

  #no {
    background-color: #dc3545;
    color: white;
  }
